.chatwindow{
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
}
.navbar{
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255, 0.15);
}
.input{
    flex: 1;
    display: flex;
    align-items: flex-end;
}
.input form{
    width: 100%;
    text-align: center;
    padding: 1rem;
}
input{
    height: 3rem;
    width: 30rem;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255,255,255, 0.05);
    border: none;
}
footer{
    justify-self: flex-end;
    font-size: small;
    opacity: 0.6;
    text-align:center ;
    width: 100%;
    
    border-top: 1px solid rgba(255,255,255, 0.15) ;
}