.chatwindow{
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
}
.navbar{
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255, 0.15);
}
.input{
    justify-self: flex-end;
    display: flex;
    align-items: flex-end;
    z-index: 4;
    height: fit-content;
}
.input form{
    width: 100%;
    text-align: center;
    padding: 1rem;
}
input{
    height: 3rem;
    width: 30rem;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255,255,255, 0.05);
    border: none;
}

.submit:hover{
    transform: scale(0.9);
}
footer{
    justify-self: flex-end;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid rgba(255,255,255, 0.15) ;
}
.opacity{
    opacity: 0.5;
}
.chatStyling{
    color: black;
}